body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
footer p{
    text-align: center;
    color: darkgrey;
    font-weight: 200;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;;
}
.orange{
    color: orange;
}
.o2{
    font-weight: 400;
    color: darkgray;
}
.o3{
    color: orange;
    font-weight: 600;
}
.f1{
    display: flex;
    margin-bottom: 5%;
}
.hw{
    width: 50%;
   
}
.hw img{
    width: 80%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange ,tomato);
    padding: 10px 40px;
    border-radius: 5%;
    color: azure;
    font-weight:bold;
}
.s1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.s2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.d1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    
}
.s3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#c2{
    border-left: 10px solid blue;
}
#c1 {
    border-left: 10px solid tomato;
}
